.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 80px auto 0;
  padding: 8px 10px 0;
  width: 1080px;
}

.App.mobile {
  width: 360px;
}

.logo {
  width: 80%;
  margin: 20px 0;
}

.title {
  font-size: 2rem;
  margin: 0 0 10px;
}

.description {
  width: 70%;
  font-size: 1rem;
  line-height: 1.2;
  text-align: center;
}
