.App {
  position: relative;
  display: flex;
  flex-direction: column;
}

.App.mobile {
  width: 360px;
}

.logo {
  width: 100%;
  height: auto;
}

.App.mobile .logo {
  height: auto;
  min-width: 100%;
}

.description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  bottom: 10vh;
  left: 0;
  right: 0;
  padding: 5rem 0;
  font-size: 0.9rem;
  line-height: 2.2;
  text-align: center;
  color: black;
}

.description .slogan {
  font-size: 1.5em;
}

.App.mobile .description {
  font-size: 0.8rem;
}
